.venv/
venv/
env/

.env

db.sqlite3
*.sqlite3

__pycache__/
*.pyc

pictures/

.idea/
.vscode/

# Логи
logs/
*.log

# Celery Beat
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dir

# Coverage
.coverage

# Celery Beat schedule files
celerybeat-schedule*